@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.large-header {
  transform: translate3d(0px, 0px, 0px);
  background-position: center center;
  background-size: cover;
  background-color: #f9f9f9;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.large-header > .row {
  height: 100%;
  position: relative;
  top: 200px;
  z-index: 22;
  margin: 0px;
}
.large-header > .row h3 {
  color: #ffffff;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
}
