@import './common/mixins.less';
@import './common/colors.less';

.large-header {
  transform: translate3d(0px, 0px, 0px);
  background-position: center center;
  background-size: cover;
  background-color: @gray01;
  .transition(background 0.2s ease-in-out);
  
  &:before, &:after {
    content: "";
    top: 0;
    position: absolute;
    height: 100%;
    z-index: 2;
  }

  &:before {
    left: 0;
    background: -moz-linear-gradient(left, #000 0, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(left, #000 0, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, from(#000), to(rgba(0, 0, 0, 0)));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #000), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to right, #000 0, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
    width: 40%;
  }

  &:after {
    right: 0;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #000 100%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #000 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(#000));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0)), to(#000));
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, #000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1);
    width: 40%;
  }

  & > .row {
    height: 100%;
    position: relative;
    top: 200px;
    z-index: 22;
    margin: 0px;

    h3 {
      color: @white;
      text-align: center;
      font-size: 3em;
      font-weight: 700;
    }
  }
}